<div class="modal-header">
  <h3 class="modal-header-title">清空规则</h3>
</div>

<div class="modal-body">
  <div class="modal-container">
    <b>确定清空规则列表？</br>
  </div>
</div>

<div class="modal-footer">
  <button id="rule-whitelist-editor_button_cancelDelete" class="btn btn-default pull-left" ng-click="cancel()"><i
    class="fa fa-close icon-left"></i>取消
  </button>
  <button id="rule-whitelist-editor_button_confirmDelete" class="btn btn-default" ng-click="done()"><i
    class="fa fa-check text-green icon-left"></i>确定
  </button>
</div>
