<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-header-title">设备活动记录</h3>
    <a class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></a>
  </div>
  <div class="modal-body">
    <div class="signature-learning-activity-table tab-container nav-tabs-lime">
      <tabset>
        <tab id="deviceActivityRecord_tab_tab0" heading="{{tabs[0].name}}" active="tabs[0].active">
          <div class="signature-learning-activity-table-content">
            <div class="panel panel-gradient padding-default tab-container-body">
              <table class="table table-hover icon-hidden">
                <thead>
                <tr>
                  <th>
                    <span>时间</span>
                  </th>
                  <th>
                    <span>设备名称</span>
                  </th>
                  <th>
                    <span>IP地址</span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activity in learningItems.knownDevices | orderBy:['timestamp', 'deviceName', 'ip']">
                  <th>
                    <span>{{activity.timestamp | date: 'HH:mm:ss'}} </span>
                  </th>
                  <th>
                    <span>{{activity.deviceName}}</span>
                  </th>
                  <th>
                    <span>{{activity.ip}}</span>
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
        <tab id="deviceActivityRecord_tab_tab1" heading="{{tabs[1].name}}">
          <div class="signature-learning-activity-table-content">
            <div class="panel panel-gradient padding-default tab-container-body">
              <table class="table table-hover icon-hidden">
                <thead>
                <tr>
                  <th>
                    <span>时间</span>
                  </th>
                  <th>
                    <span>设备名称</span>
                  </th>
                  <th>
                    <span>IP地址</span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="inactivity in learningItems.unknownDevices">
                  <th>
                    <span>{{inactivity.timestamp | date: 'HH:mm:ss'}}</span>
                  </th>
                  <th>
                    <span>{{inactivity.deviceName}}</span>
                  </th>
                  <th>
                    <span>{{inactivity.ip}}</span>
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="modal-footer">
    <!-- 	    <button class="btn btn-primary" ng-click="ok()">OK</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
  </div>
</div>
