<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-lg">
                <div class="panel-header panel-header-border">
                    <h5 class="panel-header-title">设备资产</h5>
                </div>
                <div class="panel-body panel-body-light">
                    <dtable>
                        <device-asset-table></device-asset-table>
                    </dtable>
                </div>
            </div>
        </div>
    </div>
</div>