<div class="modal-header">
  <h3 class="modal-header-title">恢复原厂设置</h3>
</div>

<div class="modal-body">
  <div class="modal-container">
    <p>恢复原厂设置，会删除所有已经部署的策略和网络审计规则，停止当前的学习，并清除以往学习历史，重启管理平台和所有在线的智能保护网关。</p>
    <br/>

    <h5 class="modal-header-title">确定要恢复原厂设置吗？</h5>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()"><i class="fa fa-close icon-left"></i>取消</button>
  <button class="btn btn-default" ng-click="done()"><i class="fa fa-check icon-left"></i>确定</button>
</div>
