<div class="modal-header">
  <h3 class="modal-header-title">重新启动{{$root.PLATFORM_NAME}}</h3>
</div>

<div class="modal-body">
  <div class="modal-container">
    <p>重新启动{{$root.PLATFORM_NAME}}，会导致所有当前用户登出，请确保重要信息已经保存备份。</p>
    <br/>

    <p>确定要重新启动{{$root.PLATFORM_NAME}}吗？</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()"><i class="fa fa-close icon-left"></i>取消</button>
  <button class="btn btn-default" ng-click="done()"><i class="fa fa-check icon-left"></i>确定</button>
</div>
