<div class="modal-header">
  <h3 class="modal-header-title"><i class="fa fa-exclamation-triangle icon-left warning"></i>{{$root.PLATFORM_NAME}}关机
  </h3>
</div>

<div class="modal-body">
  <div class="modal-container">
    <p><i class="fa fa-exclamation-triangle warning icon-left"></i>{{$root.PLATFORM_NAME}}关机后，将无法从远端重启!</p>
    <p>{{$root.PLATFORM_NAME}}关机，会导致所有当前用户登出，请确保重要信息已经保存备份。</p>
    <p>确定要关闭{{$root.PLATFORM_NAME}}？</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()"><i class="fa fa-close icon-left"></i>取消</button>
  <button class="btn btn-default" ng-click="done()"><i class="fa fa-power-off icon-left text-lime"></i>确定关机</button>
</div>
