<!-- Device Details -->
<div class="row margin-bottom-default">
  <div class="col-md-1">
    <button ui-sref="asset.factorydevice" class="btn btn-default" ng-click="rlogger.viewDetail=false;">
      <i class="fa fa-arrow-circle-left icon-left"></i>返回
    </button>
  </div>
  <div class="col-md-11">
    <h2 id="factory_detail_device_name" class="title-page-main">{{factorydetail.device.name}}</h2>
  </div>
</div>
<div class="tab-container" ng-controller="TabCtrl as tab">
  <ul class="nav nav-tabs" ng-init="tab.active || tab.activatePanel('BASIC_INFO')">
    <li ng-class="{active: tab.isActive('BASIC_INFO')}">
      <a ui-sref="asset.factorydevice.detail({deviceID: factorydetail.device.deviceId, panel: 'BASIC_INFO'})"
         ng-click="tab.activatePanel('BASIC_INFO')">
        <span>基本信息</span>
      </a>
    </li>
  </ul>
  <div ng-switch on="tab.active" class="tab-container-body">
    <div class="row device-view-delete-btn">
      <div class="col-md-12">
        <button type="button" class="btn btn-default pull-right" title="删除设备" privilege
                ng-click="asset.deleteOneDevice(factorydetail.device)"><i class="fa fa-trash-o icon-left"></i>删除设备
        </button>
      </div>
    </div>
    <div ng-switch-when="BASIC_INFO">
      <div class="device-details" ng-include="'templates/asset/factorydevice/details/basic-info.html'"></div>
    </div>
  </div>
</div>
