<nav class="left-navbar with-icons" ng-class="{'left-navbar-collapsed': network.expanded}">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="tab in $root.rootMenu.getChild('NETWORK').getChilds()"
            disable="true" class="highlight" id="{{tab.getTarget()}}">
            <a ng-if="!(tab.getChilds()&&tab.getChilds()!==[]&&tab.getChilds().length>0)"
               id="network_a_{{tab.getState()}}"
               class="left-navbar-item left-navbar-item-{{tab.getState()}}"
               ui-sref="{{tab.getState()}}" ng-class="{active: network.isActive(tab)}">
                <!--ui-sref-opts="{{tab.getOptions()}}"-->
        <span
                class="svg-side_nav_icons_{{tab.getIcon()}} svg-side_nav_icons_{{tab.getIcon()}}-dims left-navbar-item-icon"></span>

                <div class="left-navbar-item-name-collapse">{{tab.getDescription()}}</div>
            </a>

            <a ng-if="tab.getChilds()&&tab.getChilds()!==[]&&tab.getChilds().length>0" id="network_a_{{tab.getState()}}"
               class="left-navbar-item left-navbar-item-{{tab.getState()}} menu-container"
               ng-class="{hoverActive: $root.subMenusSelected(tab), active: $root.isSubMenusActive(tab)}"
               ng-click="$root.displaySubMenus(tab);">
        <span
                class="svg-side_nav_icons_{{tab.getIcon()}} svg-side_nav_icons_{{tab.getIcon()}}-dims left-navbar-item-icon"></span>
                <span class="left-navbar-item-name">{{tab.getDescription()}}</span>
        <span class="pull-right" ng-if="network.expanded?false:tab.expanded">
          <!--<i class="fa fa-chevron-right whitelist-icon"-->
          <!--ng-if="network.expanded?false:!tab.expanded"></i>-->
          <i class="fa fa-chevron-up whitelist-icon"></i></span>
            </a>

            <div class="whitelist-submenu" ng-if="network.expanded?false:tab.expanded">
                <div class="whitelist-submenu-item" ng-repeat="child in tab.getChilds()">
                    <a id="network_a_sub_{{child.getState()}}"
                       class="left-navbar-item left-navbar-item-{{child.getState()}}"
                       ui-sref="{{child.getState()}}" ng-class="{active: network.isActive(child)}">
                        <!--ui-sref-opts="{{tab.getOptions()}}"-->
        <span
                class="svg-side_nav_icons_{{child.getIcon()}} svg-side_nav_icons_{{child.getIcon()}}-dims left-navbar-item-icon"></span>

                        <div class="left-navbar-item-name-collapse" style="left: 36px;top: 7px;width: 60px;">
                            {{child.getDescription()}}
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="left-navbar-expand-toggle reset-highlight">
            <a href="javascript:void(0)" ng-click="network.toggleExpand()">
                <i class="fa"
                   ng-class="{false: 'fa-angle-double-left', true: 'fa-angle-double-right'}[network.expanded]"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="main-content main-content-with-nav" ng-class="{'navbar-collapsed': network.expanded}" ui-view></div>

<div class="clearfix"></div>
