<div class="modal-header">
  <h3 class="modal-header-title"><i class="fa fa-exclamation-triangle text-red"></i>下载未完成文件</h3>
</div>

<div class="modal-body">
  <div class="modal-container">
    <p>{{fileName}}还没有还原成功。文件内容可能不完整。<br/>
      请确认是否下载未完成文件？
    </p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()"><i class="fa fa-close icon-left"></i>取消</button>
  <button class="btn btn-default" ng-click="confirm()"><i class="fa fa-exclamation-triangle text-red"></i>下载未完成文件
  </button>
</div>
