<div class="panel main-container ng-scope page-detect">
  <div class="panel-body panel-body-light">
    <div>
      <dtable>
        <reduction-table></reduction-table>
      </dtable>
    </div>
    <!-- <div class="tab-container" ng-controller="TabCtrl as tab">
		<ul class="nav nav-tabs nav-tabs-lg nav-tabs-red-orange nav-tabs-top-border" ng-init="tab.active || tab.activatePanel('all')">
		  <li ng-class="{ active: tab.isActive('all') }">
			<a ng-click="tab.activatePanel('all'); dtable.protocolSourceName.protocolSourceName=''"><i class="fa"></i>
				<span>全部</span>
			</a>
		  </li>
		  <li ng-class="{ active: tab.isActive('ftp') }" ng-hide="true">
			<a ng-click="tab.activatePanel('ftp'); dtable.protocolSourceName.protocolSourceName='ftp'"><i class="fa"></i>
				<span>FTP</span>
			</a>
		  </li>
		  <li ng-class="{ active: tab.isActive('telnet') }" ng-hide="true">
			<a ng-click="tab.activatePanel('telnet'); dtable.protocolSourceName.protocolSourceName='telnet'"><i class="fa"></i>
				<span>Telnet</span>
			</a>
		  </li>
		  <li ng-class="{ active: tab.isActive('hexagon') }" ng-hide="true">
			<a ng-click="tab.activatePanel('hexagon'); dtable.protocolSourceName.protocolSourceName='hexagon'"><i class="fa"></i>
				<span>Hexagon</span>
			</a>
		  </li>
		</ul>
		<div ng-switch on="tab.active" class="tab-container-body">
		  <div ng-switch-when="all">
			<dtable>
			  <reduction-table></reduction-table>
			</dtable>
		  </div>
		  <div ng-switch-when="ftp">
			<dtable>
			  <reduction-ftp-table></reduction-table>
			</dtable>
		  </div>
		  <div ng-switch-when="telnet">
			<dtable>
			  <reduction-telnet-table></reduction-table>
			</dtable>
		  </div>
		  <div ng-switch-when="hexagon">
			<dtable>
			  <reduction-hexagon-table></reduction-table>
			</dtable>
		  </div>
		</div>
	  </div> -->
  </div>
</div>
