<div class="modal-header">
  <h3 class="modal-header-title"><i class="fa fa-exclamation-triangle text-red"></i> &nbsp;警告</h3>
  <a class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body-no-frame">
  <br>
  <div class="modal-container">
    <div>
      <p>此操作不可恢复，请在清除前完成备份工作，以防止信息丢失。</p>
    </div>
    <div ng-if="hasDeployment">
      <p>系统中已经部署了规则，清除拓扑图的操作会导致系统中已有的规则、事件、审计等信息会被全部清空。</p>
    </div>
    <br/>
    <div ng-if="!hasProcessingLearn">
      <b>你确定要清空当前拓扑？</b>
    </div>
  </div>
  <br>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="cancel()"><i class="fa fa-times icon-left"></i>取消</button>
  <button class="btn btn-default" ng-click="confirm()"><i class="fa fa-check text-green icon-left"></i>确认</button>
</div>
