<div class="modal-header">
  <h3 class="modal-header-title"><i class="fa fa-exclamation-triangle text-red"></i> &nbsp;警告</h3>
  <a class="modal-close" ng-click="cancel()"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body-no-frame">
  <br>
  <div class="modal-container">
    <div ng-if="!hasProcessingLearn">
      <b>你所在的用户组的权限已经改变，请联系管理员。</b>
    </div>
  </div>
  <br>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-check text-green icon-left"></i>确认</button>
</div>
