<div class="service-customize-container">
    <div class="margin-bottom-default object-new-delete-container">
        <a id="object-service-customize-add" class="btn btn-default" ng-click="dtable.addNewService()"
           setting-privilege privilege-name="OBJECT_SERVICE" privilege-require="MIXED" privilege-handle="hidden">
            &nbsp;<i class="fa fa-file-o fa-after-blue fa-plus-overlay icon-left"></i> 新增&nbsp;</a>
        <a id="object-service-customize-delete" class="btn btn-default" ng-click="dtable.deleteService()"
           setting-privilege privilege-name="OBJECT_SERVICE" privilege-require="MIXED" privilege-handle="hidden">
            &nbsp;<i class="fa fa-trash-o icon-left"></i> 删除&nbsp;</a>
    </div>
    <table class="table table-hover icon-hidden" cg-busy="{promise:$root.serviceDeleteTaskPromise,message:'自定义服务删除中，请稍侯...'}">
        <thead>
        <tr>
            <th></th>
            <th class="text-center">
                <label>
                    <input id="selected-item-all" custom-checkbox tri-state-checkbox type="checkbox" ng-model="dtable.selectAllValue"
                           ng-click="dtable.selectAll()"/>
                </label>
            </th>
            <th>序号</th>
            <th order-by="name">服务名称</th>
            <th order-by="protocol">网络层协议</th>
            <th order-by="_targetPorts">目的端口号</th>
            <th order-by="_destinationPorts">源端口号</th>
            <th order-by="_policyRefers">策略引用</th>
            <th order-by="description">描述</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="svc in dtable.table" ng-click="accordion.current = !accordion.current" fade-in-list>
            <td class="table-accordion-chevron">
                <i class="fa {{accordion.current ? 'fa-chevron-down' : 'fa-chevron-right'}}"
                   ng-if="svc.serverRules.length > 1"></i></td>
            <td class="text-center">
                <label>
                    <input custom-checkbox type="checkbox" id="selected-item-{{$index}}"
                           ng-checked="dtable.selectedItems[svc.name]"
                           ng-change="dtable.selectedChanged()"
                           ng-model="dtable.selectedItems[svc.name]"/>
                </label></td>
            <td>{{skip + $index + 1}}</td>
            <td>{{svc.name}}</td>
            <td>{{(svc.serverRules.length === 1 ? svc.serverRules[0].type : '--') | convertText:'OTHER':'其他'}}</td>
            <td>{{svc.serverRules.length === 1 ? svc.serverRules[0].minDstPort +
                (svc.serverRules[0].maxDstPort>0 ? ', ' + svc.serverRules[0].maxDstPort : '') : '--'}}</td>
            <td>{{svc.serverRules.length === 1 ? svc.serverRules[0].minSrcPort +
                (svc.serverRules[0].maxSrcPort>0 ? ', ' + svc.serverRules[0].maxSrcPort : '') : '--'}}</td>
            <td>{{svc._policyRefers | convertNullBlank:'--'}}</td>
            <td class="describe">
                <span class="describe-ellipsis" tooltip="{{svc.description}}" tooltip-placement="bottom"
                      ng-show="svc.description">
                    {{svc.description}}
                </span>
                <div ng-hide="svc.description">--</div>
            </td>
            <td>
                <a id="object-service-customize-view" class="btn btn-sm btn-default"
                   ng-click="dtable.viewService(svc)" ng-if="isNoEditPri">查看</a>
                <a id="object-service-customize-edit" class="btn btn-sm btn-default"
                   ng-click="dtable.editService(svc)" title="编辑" setting-privilege
                   privilege-name="{{privilegeName}}" privilege-require="MIXED" privilege-handle="hidden">
                    <i class="fa fa-edit"></i></a>
            </td>
        </tr>
        <tr ng-if="accordion.current && svc.serverRules.length > 1" ng-repeat="rule in svc.serverRules"
            class="angular-animate show-hide show-hide-table-row table-accordion-bk">
            <td colspan="4"></td>
            <td>{{rule.type | convertText:'OTHER':'其他'}}</td>
            <td>{{rule.minDstPort + (rule.maxDstPort>0 ? ', ' + rule.maxDstPort : '')}}</td>
            <td>{{rule.minSrcPort + (rule.maxSrcPort>0 ? ', ' + rule.maxSrcPort : '')}}</td>
            <td colspan="3"></td>
        </tr>
        <tr ng-repeat-end ng-if="false"></tr>
        </tbody>
    </table>
    <script type="text/ng-template" id="service-customize-add-new.html">
        <div class="modal-service-customize-info" global-events>
            <form name="newCustomizeServiceForm" ng-submit="ok(newCustomizeServiceForm.$valid
                && (rules && rules.length > 0))">
                <div class="modal-header">
                    <h4 class="modal-header-title">服务配置</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-service-customize-info">
                        <div class="row">
                            <div class="row row-container">
                                <div class="col-xs-2">服务名称 ：</div>
                                <div class="col-xs-10">
                                    <input name="name" type="text" custom-val="nameval" validator="checkNameVal"
                                           ng-model="newService.name" ng-model-options="{ updateOn: 'blur' }"
                                           maxlength="20" placeholder="TCP-8080" class="name" required/>
                                    <div class="input-alert-error" ng-show="newCustomizeServiceForm.name.$error.nameval">
                                        {{nameValMsg}}</div>
                                </div>
                            </div>
                            <ng-form name="newRuleForm">
                            <div class="row">
                                <div class="col-xs-2">服务规则配置 ：</div>
                                <div class="col-xs-10">
                                    <div class="rule-config-container">
                                        <div class="row row-container">
                                            <div class="col-xs-2">类型 ：</div>
                                            <div class="col-xs-10">
                                                <div class="col-xs-3 radio-container">
                                                    <label>
                                                        <input name="type" custom-radio id="type_tcp"
                                                               ng-model="newRule.type"
                                                               type="radio" value="TCP">
                                                        <span>TCP</span>
                                                    </label>
                                                </div>
                                                <div class="col-xs-3 radio-container">
                                                    <label>
                                                        <input name="type" custom-radio id="type_udp"
                                                               ng-model="newRule.type"
                                                               type="radio" value="UDP">
                                                        <span>UDP</span>
                                                    </label>
                                                </div>
                                                <!--<div class="col-xs-3 radio-container">-->
                                                    <!--<label>-->
                                                        <!--<input name="type" custom-radio id="type_icmp"-->
                                                               <!--ng-model="newRule.type"-->
                                                               <!--type="radio" value="ICMP">-->
                                                        <!--<span>ICMP</span>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                                <div class="col-xs-3 radio-container">
                                                    <label>
                                                        <input name="type" custom-radio id="type_other"
                                                               ng-model="newRule.type"
                                                               type="radio" value="OTHER">
                                                        <span>其他</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-container">
                                            <div class="col-xs-3">目的端口 ：</div>
                                            <div class="col-xs-9">
                                                <div class="col-xs-6">
                                                    最小:
                                                    <input name="destportmin" type="text" custom-val="dpval"
                                                           validator="checkDestPortVal" val-args="0"
                                                           ng-model="newRule.minDstPort"
                                                           ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                           maxlength="5" placeholder="8080" class="port"/>
                                                </div>
                                                <div class="col-xs-6" ng-if="!destMaxPortHide">
                                                    最大:
                                                    <input name="destportmax" type="text" custom-val="dpval"
                                                           validator="checkDestPortVal" val-args="1"
                                                           ng-model="newRule.maxDstPort"
                                                           ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                           maxlength="5" placeholder="8080" class="port"/>
                                                </div>
                                                <div class="col-xs-6" ng-if="destMaxPortHide">
                                                </div>
                                                <div class="clearfix" ng-if="destMaxPortHide">
                                                </div>
                                                <div class="input-alert-error"
                                                     ng-show="newRuleForm.destportmin.$error.dpval ||
                                                        newRuleForm.destportmax.$error.dpval || isDestPortsInvalid">
                                                    {{destPortValMsg}}</div>
                                                <div class="input-alert-error"
                                                     ng-show="!(newRuleForm.destportmin.$error.dpval ||
                                                        newRuleForm.destportmax.$error.dpval || isDestPortsInvalid) &&
                                                        newRuleForm.destportmin.$dirty && !newRule.minDstPort">
                                                    目的最小端口号为必须输入项</div>
                                            </div>
                                        </div>
                                        <div class="row row-container">
                                            <div class="col-xs-3">源端口 ：</div>
                                            <div class="col-xs-9">
                                                <div class="col-xs-6">
                                                    最小:
                                                    <input name="sourceportmin" type="text" custom-val="spval"
                                                           validator="checkSourcePortVal" val-args="0"
                                                           ng-model="newRule.minSrcPort"
                                                           ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                           maxlength="5" placeholder="8080" class="port"/>
                                                </div>
                                                <div class="col-xs-6" ng-if="!srcMaxPortHide">
                                                    最大:
                                                    <input name="sourceportmax" type="text" custom-val="spval"
                                                           validator="checkSourcePortVal" val-args="1"
                                                           ng-model="newRule.maxSrcPort"
                                                           ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                           maxlength="5" placeholder="8080" class="port"/>
                                                </div>
                                                <div class="col-xs-6" ng-if="srcMaxPortHide">
                                                </div>
                                                <div class="clearfix" ng-if="srcMaxPortHide">
                                                </div>
                                                <div class="input-alert-error"
                                                     ng-show="newRuleForm.sourceportmin.$error.spval ||
                                                        newRuleForm.sourceportmax.$error.spval ||
                                                        isSourcePortsInvalid">
                                                    {{sourcePortValMsg}}</div>
                                                <div class="input-alert-error"
                                                     ng-show="!(newRuleForm.sourceportmin.$error.spval ||
                                                        newRuleForm.sourceportmax.$error.spval ||
                                                        isSourcePortsInvalid) &&
                                                        newRuleForm.sourceportmin.$dirty && !newRule.minSrcPort">
                                                    源最小端口号为必须输入项</div>
                                            </div>
                                        </div>
                                        <a class="btn btn-default" ng-click="addNewRule(newRuleForm.$valid &&
                                                !isDestPortsInvalid && !isSourcePortsInvalid
                                                && (newRuleForm.destportmin.$dirty && newRule.minDstPort)
                                                && (newRuleForm.sourceportmin.$dirty && newRule.minSrcPort))"
                                                ng-disabled="rules.length >= 5">
                                            &nbsp;<i class="fa fa-blue fa-plus icon-left"></i> 添加&nbsp;</a>
                                        <span class="alert-manual input-alert-error" ng-show="rules && rules.length==0">
                                            请至少配置一条服务规则</span>
                                    </div>
                                    <div class="rules-table">
                                        <table class="table table-hover icon-hidden">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>协议</th>
                                                <th>目的端口</th>
                                                <th>源端口</th>
                                                <th class="operation">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="rule in rules">
                                                <td></td>
                                                <td>{{rule.type | convertText:'OTHER':'其他'}}</td>
                                                <td>{{rule.minDstPort
                                                    + (rule.maxDstPort?(', '+rule.maxDstPort):'')}}</td>
                                                <td>{{rule.minSrcPort
                                                    + (rule.maxSrcPort?(', '+rule.maxSrcPort):'')
                                                    | convertNullBlank:'--'}}</td>
                                                <td>
                                                    <a class="btn btn-default" ng-click="deleteRule($index)">
                                                        &nbsp;<i class="fa fa-trash-o"></i>&nbsp;</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </ng-form>
                            <div class="row row-container">
                                <div class="col-xs-2">服务描述 ：</div>
                                <div class="col-xs-10">
                                    <input name="description" type="text" ng-model="newService.description"
                                           ng-model-options="{ updateOn: 'blur' }" maxlength="255" placeholder="描述"
                                           class="description"/>
                                    &nbsp;(&nbsp;0-255&nbsp;)&nbsp;字符
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default pull-right" ng-hide="isAddingService">
                        <i class="fa fa-check text-lime icon-left"></i>确定
                    </button>
                    <button class="btn btn-default pull-right" ng-disabled="true" ng-show="isAddingService">
                        <i class="fa fa-spinner fa-spin icon-left"></i>添加中
                    </button>
                    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">
                        <i class="fa fa-times icon-left"></i>取消
                    </button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="service-customize-edit.html">
        <div class="modal-service-customize-info">
            <form name="editCustomizeServiceForm" ng-submit="ok(editCustomizeServiceForm.$valid
                && (rules && rules.length > 0))">
                <div class="modal-header">
                    <h4 class="modal-header-title">服务配置</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-service-customize-info">
                        <div class="row">
                            <div class="row row-container">
                                <div class="col-xs-2">服务名称 ：</div>
                                <div class="col-xs-10">
                                    <input name="name" type="text" custom-val="nameval" validator="checkNameVal"
                                           ng-model="editService.name" ng-model-options="{ updateOn: 'blur' }"
                                           maxlength="20" placeholder="TCP-8080" class="name" required
                                           ng-disabled="isViewOnly||isEditDisabled"/>
                                    <div class="input-alert-error" ng-show="editCustomizeServiceForm.name.$error.nameval">
                                        {{nameValMsg}}</div>
                                </div>
                            </div>
                            <ng-form name="newRuleForm">
                                <div class="row">
                                    <div class="col-xs-2">服务规则配置 ：</div>
                                    <div class="col-xs-10">
                                        <div class="rule-config-container">
                                            <div class="row row-container">
                                                <div class="col-xs-2">类型 ：</div>
                                                <div class="col-xs-10">
                                                    <div class="col-xs-3 radio-container">
                                                        <label>
                                                            <input name="type" custom-radio id="type_tcp"
                                                                   ng-model="newRule.type"
                                                                   type="radio" value="TCP" ng-disabled="isViewOnly">
                                                            <span>TCP</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-3 radio-container">
                                                        <label>
                                                            <input name="type" custom-radio id="type_udp"
                                                                   ng-model="newRule.type"
                                                                   type="radio" value="UDP" ng-disabled="isViewOnly">
                                                            <span>UDP</span>
                                                        </label>
                                                    </div>
                                                    <!--<div class="col-xs-3 radio-container">-->
                                                        <!--<label>-->
                                                            <!--<input name="type" custom-radio id="type_icmp"-->
                                                                   <!--ng-model="newRule.type"-->
                                                                   <!--type="radio" value="ICMP" ng-disabled="isViewOnly">-->
                                                            <!--<span>ICMP</span>-->
                                                        <!--</label>-->
                                                    <!--</div>-->
                                                    <div class="col-xs-3 radio-container">
                                                        <label>
                                                            <input name="type" custom-radio id="type_other"
                                                                   ng-model="newRule.type"
                                                                   type="radio" value="OTHER" ng-disabled="isViewOnly">
                                                            <span>其他</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row row-container">
                                                <div class="col-xs-3">目的端口 ：</div>
                                                <div class="col-xs-9">
                                                    <div class="col-xs-6">
                                                        最小:
                                                        <input name="destportmin" type="text" custom-val="dpval"
                                                               validator="checkDestPortVal" val-args="0"
                                                               ng-model="newRule.minDstPort"
                                                               ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                               maxlength="5" placeholder="8080" class="port"
                                                               ng-disabled="isViewOnly"/>
                                                    </div>
                                                    <div class="col-xs-6" ng-if="!destMaxPortHide">
                                                        最大:
                                                        <input name="destportmax" type="text" custom-val="dpval"
                                                               validator="checkDestPortVal" val-args="1"
                                                               ng-model="newRule.maxDstPort"
                                                               ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                               maxlength="5" placeholder="8080" class="port"
                                                               ng-disabled="isViewOnly"/>
                                                    </div>
                                                    <div class="col-xs-6" ng-if="destMaxPortHide">
                                                    </div>
                                                    <div class="clearfix" ng-if="destMaxPortHide">
                                                    </div>
                                                    <div class="input-alert-error"
                                                         ng-show="newRuleForm.destportmin.$error.dpval ||
                                                        newRuleForm.destportmax.$error.dpval || isDestPortsInvalid">
                                                        {{destPortValMsg}}</div>
                                                    <div class="input-alert-error"
                                                         ng-show="!(newRuleForm.destportmin.$error.dpval ||
                                                        newRuleForm.destportmax.$error.dpval || isDestPortsInvalid) &&
                                                        newRuleForm.destportmin.$dirty && !newRule.minDstPort">
                                                        目的最小端口号为必须输入项</div>
                                                </div>
                                            </div>
                                            <div class="row row-container">
                                                <div class="col-xs-3">源端口 ：</div>
                                                <div class="col-xs-9">
                                                    <div class="col-xs-6">
                                                        最小:
                                                        <input name="sourceportmin" type="text" custom-val="spval"
                                                               validator="checkSourcePortVal" val-args="0"
                                                               ng-model="newRule.minSrcPort"
                                                               ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                               maxlength="5" placeholder="8080" class="port"
                                                               ng-disabled="isViewOnly"/>
                                                    </div>
                                                    <div class="col-xs-6" ng-if="!srcMaxPortHide">
                                                        最大:
                                                        <input name="sourceportmax" type="text" custom-val="spval"
                                                               validator="checkSourcePortVal" val-args="1"
                                                               ng-model="newRule.maxSrcPort"
                                                               ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                                                               maxlength="5" placeholder="8080" class="port"
                                                               ng-disabled="isViewOnly"/>
                                                    </div>
                                                    <div class="col-xs-6" ng-if="srcMaxPortHide">
                                                    </div>
                                                    <div class="clearfix" ng-if="srcMaxPortHide">
                                                    </div>
                                                    <div class="input-alert-error"
                                                         ng-show="newRuleForm.sourceportmin.$error.spval ||
                                                        newRuleForm.sourceportmax.$error.spval ||
                                                        isSourcePortsInvalid">
                                                        {{sourcePortValMsg}}</div>
                                                    <div class="input-alert-error"
                                                         ng-show="!(newRuleForm.sourceportmin.$error.spval ||
                                                        newRuleForm.sourceportmax.$error.spval ||
                                                        isSourcePortsInvalid) &&
                                                        newRuleForm.sourceportmin.$dirty && !newRule.minSrcPort">
                                                        源最小端口号为必须输入项</div>
                                                </div>
                                            </div>
                                            <a class="btn btn-default" ng-click="addNewRule(newRuleForm.$valid &&
                                                !isDestPortsInvalid && !isSourcePortsInvalid
                                                && (newRuleForm.destportmin.$dirty && newRule.minDstPort)
                                                && (newRuleForm.sourceportmin.$dirty && newRule.minSrcPort))"
                                               ng-disabled="rules.length >= 5 || isViewOnly">
                                                &nbsp;<i class="fa fa-blue fa-plus icon-left"></i> 添加&nbsp;</a>
                                            <span class="alert-manual input-alert-error"
                                                  ng-show="rules && rules.length==0">请至少配置一条服务规则</span>
                                        </div>
                                        <div class="rules-table">
                                            <table class="table table-hover icon-hidden">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>协议</th>
                                                    <th>目的端口</th>
                                                    <th>源端口</th>
                                                    <th class="operation">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="rule in rules">
                                                    <td></td>
                                                    <td>{{rule.type | convertText:'OTHER':'其他'}}</td>
                                                    <td>{{rule.minDstPort
                                                        + (rule.maxDstPort?(', '+rule.maxDstPort):'')}}</td>
                                                    <td>{{rule.minSrcPort
                                                        + (rule.maxSrcPort?(', '+rule.maxSrcPort):'')
                                                        | convertNullBlank:'--'}}</td>
                                                    <td>
                                                        <a class="btn btn-default" ng-click="deleteRule($index)"
                                                           ng-disabled="isViewOnly">
                                                            &nbsp;<i class="fa fa-trash-o"></i>&nbsp;</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                            <div class="row row-container">
                                <div class="col-xs-2">服务描述 ：</div>
                                <div class="col-xs-10">
                                    <input name="description" type="text" ng-model="editService.description"
                                           ng-model-options="{ updateOn: 'blur' }" maxlength="255" placeholder="描述"
                                           class="description" ng-disabled="isViewOnly"/>
                                    &nbsp;(&nbsp;0-255&nbsp;)&nbsp;字符
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default pull-right" ng-hide="isEdittingService">
                        <i class="fa fa-check text-lime icon-left"></i>确定
                    </button>
                    <button class="btn btn-default pull-right" ng-disabled="true" ng-show="isEdittingService">
                        <i class="fa fa-spinner fa-spin icon-left"></i>修改中
                    </button>
                    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">
                        <i class="fa fa-times icon-left"></i>取消
                    </button>
                </div>
            </form>
        </div>
    </script>
</div>
