<div>
    <div class="padding-default"
         ng-class="dtable.dateTimeRange && dtable.dateTimeRange.enable ? 'showDateTimeRange' : 'hideDateTimeRange'">
        <div class="btn-toolbar">
            <button id="monitor-logger-logdfTab_button_refresh" type="button" class="btn btn-default"
                    ng-click="dtable.refresh()"><i class="fa fa-refresh text-lime icon-left"></i>刷新
            </button>
            <button id="monitor-logger-logdfTab_button_openExportPanel" type="button" class="btn btn-default"
                    ng-click="openExportPanel(true)" ng-disabled="!dtable.table.length"><i
                    class="fa fa-download text-lime icon-left"></i>导出
            </button>
            <button id="monitor-logger-logdfTab_button_deleteSelected" type="button" class="btn btn-default"
                    ng-click="deleteSelected()" ng-disabled="!dtable.table.length" setting-privilege
                    privilege-name="LOG_MANAGEMENT" privilege-require="MIXED" privilege-handle="hidden">
                <i class="fa fa-trash-o icon-left"></i>删除
            </button>
            <button id="monitor-event-incident_button_markAllDeleted" type="button" class="btn btn-default"
                    ng-click="markAllDeleted()" ng-disabled="!dtable.table.length" setting-privilege
                    privilege-name="LOG_MANAGEMENT" privilege-require="MIXED"
                    privilege-handle="hidden"><i class="fa fa-times-circle-o text-red icon-left"></i>清空所有日志
            </button>

        </div>
    </div>
    <table class="table table-hover icon-hidden">
        <thead>
        <tr>
            <th class="text-center"><input id="selected-item-all" custom-checkbox tri-state-checkbox type="checkbox"
                                           ng-model="dtable.selectAllValue"
                                           ng-click="dtable.selectAll()"/>
            </th>
            <th order-by="packetTimestamp">时间</th>
            <th order-by="sourceIp">源IP地址</th>
            <th order-by="sourceMac">源MAC地址</th>
            <th order-by="sourcePort">源端口</th>
            <th order-by="destinationIp">目标IP地址</th>
            <th order-by="destinationMac">目标MAC地址</th>
            <th order-by="destinationPort">目标端口</th>
            <th order-by="ipVersion">IP版本</th>
            <th order-by="protocolTypeName">协议类型</th>
            <th order-by="packetLenth">数据包长度</th>
            <th order-by="result">动作</th>
            <th order-by="policyName">策略/原因</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="log in dtable.table" fade-in-list>
            <td class="text-center"><input id="selected-item-{{$index}}" custom-checkbox type="checkbox"
                                           ng-click="dtable.selectItem()"
                                           ng-model="dtable.selectedItems[log.fwFlowdataId]"/></td>
            <td class="table-col-datetime">{{log.packetTimestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="table-col-ip">{{log.sourceIp}}</td>
            <td class="table-col-mac">{{log.sourceMac}}</td>
            <td>{{log.sourcePort}}</td>
            <td class="table-col-ip">{{log.destinationIp}}</td>
            <td class="table-col-mac">{{log.destinationMac}}</td>
            <td>{{log.destinationPort}}</td>
            <td>{{log.ipVersion}}</td>
            <td>{{log.protocolTypeName | ellipsis:'10'}}</td>
            <td>{{log.packetLenth}}</td>
            <td>{{log.result | ellipsis:'30'}}</td>
            <td>{{log.policyName | ellipsis:'30'}}</td>
        </tr>
        </tbody>
    </table>
</div>
